/* header{
    background-color: orange;
} */

@font-face {
    font-family: "Arsenale White";
    src: url('arsenale_white.ttf');
}

.gras{
    font-weight: bold;
}

.blanc{
    color: white;
}

.arsenale_white{
    font-family:'Arsenale White';
}

button{
    background-color: #fed790;
    font-weight: bold;
}

.logo{
    /* display: inline-block;
    vertical-align: bottom; */
    width: 150px;
    height: 150px;
    float: left;
    padding: 10px;
}

.slogan{
    margin-left: 150px;
    text-align: center;
}

/* .ecoresponsable{
    color: #c45924;
    font-weight: bold;
    font-family: 'Marker Felt';
}

.produits_locaux{
    color: #f9ae30;
    font-weight: bold;
    font-family: 'Marker Felt';
}

.en_vrac{
    color: #a4b434;
    font-weight: bold;
    font-family: 'Marker Felt';
} */

#conteneur_body_accueil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bar_nav{
    /* display: inline-block;
    vertical-align: bottom; */
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*les blocs vont à la ligne lorsqu'ils n'ont plus la place*/
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    overflow: hidden;
    background-color: #f9ae30; 
}
.element_bar_nav{
    display: flex;
    margin: auto;
    float: left;
    font-weight: bold;
}

.bar_nav a:hover{
    text-decoration: underline;
    background-color:  #fed790; 
    /* #c9c9c3; */
    color: #c45924;
}

.bar_nav a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* #page{
    background-color: green;
}*/
<<<<<<< HEAD:style/style.css

/* .photo_accueil{

} */
=======
>>>>>>> 617362cd438e4ef1d637f0166119616580b61d79:style.css

.texte_page_accueil{
    font-family: 'Abadi MT Condensec', 'Arial';
}

/* .pourquoi{
    font-family: 'Arsenale White';
    font-size: 30px;
} */

/* .lieu_de_vie{
    background-color: #a4b434;
    border-radius: 10px;
    border: 1px black solid; 
    box-shadow: 6px 6px 6px black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
} */

/* .lieu_ethique{
    background-color: #f9ae30;
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 6px 6px 6px black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
} */

/* .lieu_ancre{
    background-color: #c45924;
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 6px 6px 6px black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
} */

/* .flux_fb{

} */

.bonne_mine{
    font-family: 'Arsenale White';
    font-size: 30px;
}
/*############################### FORMULAIRE DE CONTACT ###############################*/
.titre_horaires{
    font-weight: bold;
    font-family:'Arsenale White';
    font-size: 30px;
}

.section_horaires{
    text-align: center;
    font-size: 16px;
    background-color: #fed790; 
    border-radius: 10px;
    border: 1px black solid; /* bord noir de 1px */
    box-shadow: 6px 6px 6px black; 
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.titre_formulaire{
    font-weight: bold;
    font-family:'Arsenale White';
    font-size: 30px;
}

form{
    text-align: center;
    background-color: #a4b434; 
    border-radius: 10px;
    border: 1px black solid; /* bord noir de 1px */
    box-shadow: 6px 6px 6px black; 
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

footer{
    display: block;
    background-color: #f9ae30;
    /* min-height: 100%;
    bottom:0;
    left:0; */
    /* box-sizing: border-box;  */
}

.ligne{
    display: flex;
}

.colonne{
    flex: 50%;
    margin: 10px;
}

.logo_mail{
    width: 15px;
    height: 15px;
}

.logo_telephone{
    width: 15px;
    height: 15px;
}

a.tel{
    font-family: 'Abadi MT Condensec', 'Arial';
    color : white;
    font-weight: bold;
}

.logo_boutique{
    width: 15px;
    height: 15px;
} 

.adresse{
    text-align: right;
}

.droits_reserves{
    text-align: center;
    color: white;
}

